<style>
    div.gallery {
       display: flex;
       flex-wrap: wrap;
    }
    div.gallery a, div.gallery video {
        flex-grow: 1;
        object-fit: cover;
        margin: 2px;
        display: flex;
    }
    div.gallery video {
        height: 200px;
    }
    div.gallery a img {
        height: 200px;
        object-fit: cover;
        flex-grow: 1;
    }
</style>
<div class="gallery">
    <!-- https://netfactory.dk/posts/2020/hugo-gallery/ -->
    {{- $search := (path.Join (.Get "src") "/*") -}} <!-- something like: "images/*" -->
    {{- range .Page.Resources.Match $search -}}
        {{- if strings.HasSuffix . ".mp4" -}}
        <video controls="" width="400">
            <source src="{{ . }}" type="video/mp4">
        </video>
        {{- else -}}
        <a data-fancybox="gallery" href="{{ . }}">
            <img src="{{ (.Fill "200x200 q100 Center").RelPermalink }}">
        </a>
        {{- end -}}
    {{- end -}}
</div>