{{- if .Params.rawHTML -}}{{- .Content -}}{{- else -}}<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <section id="content">
            {{- block "main" . }}{{- end -}}
        </section>
        {{- partial "footer.html" . -}}
    </body>
</html>{{- end -}}
